.ant-modal {
  width: 940px !important;
}

.ant-alert {
  margin: 2px;
  border-radius: 2px;
}
.ant-modal-content {
  padding: 0 !important;
  border-radius: 4px !important;
}
.modal-title {
  margin: 0;
  font-family: Roboto;
  font-size: 16px;
  padding: 24px;
  background: white;
  width: 100%;
}
.ant-modal-close-x {
  font-size: 12px !important;
  margin-top: 24px;
}
.ant-modal-close {
  top: 5px !important;
  width: 5px !important;
}
.ant-card {
  margin: 4px;
}
.ant-modal-body {
  background: #f6f6f6;
}
.ant-card-body {
  padding: 5px !important;
}
.first-alert {
  background: #fff7e9;
  border: 1px solid #f6f6f6;
  border-radius: 2px;
}
.max-days {
  margin: 17px 0 17px 16px;
  font-family: "Roboto";
  font-style: normal;
}
.default-alert {
  background: white;
  border: 1px solid #f6f6f6;
  width: 98%;
}
.left-content {
  border-right: 1px solid #f6f6f6;
}
.rigt-content {
  padding-left: 5px;
}
.details {
  background: #e7f8f2;
  border-radius: 2px;
  border: none;
  color: #0aaa6f;
  font-weight: 600;
}
.overdue-accounts{
  color: #DC8C09;
}
.overdue-amount{
  color: #C10000;
  font-weight: bold;
}